<!DOCTYPE html>
<html>
<head>
<title>7_4.Select list</title>
<meta charset="utf-8" />
</head>
<body>
<div id="app">
    <select v-model="selectedUsers" multiple>
         <option v-for="user in users" v-bind:value="user">{{user.name}}</option>
    </select>
    <h3>Selected objects:</h3>
    <ul>
        <li v-for="user in selectedUsers">{{user.name}} - {{user.age}}</li>
    </ul>
</div>
<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            users:[
                {name:'Tom', age:22},
                {name:'Bob', age:25},
                {name:'Sam', age:28},
                {name:'Alice', age:26}
            ],
            selectedUsers:[]
        }
    });
</script>
</body>
</html>
