<!DOCTYPE html>
<html>
<head>
<title>6_2.Radibutton</title>
<meta charset="utf-8" />
</head>
<body>
<div id="app" class="col-md-4">
    <template v-for="user in users">
        <input type="radio" v-bind:value="user" v-model="selectedUser">
        <label>{{user.name}}</label><br>
    </template>
    <span v-if="selectedUser!==null">Selected: {{selectedUser.name}} - {{selectedUser.age}}</span>
</div>
<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            users:[
                {name:'Tom', age:22},
                {name:'Bob', age:25},
                {name:'Sam', age:28},
                {name:'Alice', age:26}
            ],
            selectedUser:null
        }
    });
</script>
</body>
</html>
