<!DOCTYPE html>
<html>
<head>
<title>6_1.Radibutton</title>
<meta charset="utf-8" />
</head>
<body>
<div id="app">
    <input type="radio" v-bind:value="{name:'Tom', age:22}" v-model="user">
    <label>Tom</label>
    <br>
    <input type="radio" v-bind:value="{name:'Bob', age:25}" v-model="user">
    <label>Bob</label>
    <br>
    <input type="radio" v-bind:value="{name:'Sam', age:28}" v-model="user">
    <label>Sam</label>
    <br>
    <span>Selected: {{user.name}} - {{user.age}}</span>
</div>
<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            user:{}
        }
    });
</script>
</body>
</html>
